<ion-header translucent no-border>
  <ion-toolbar>
    <ion-title text-center style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">My Notifications</ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-button fill="icon-only">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<main class="container">
    <div class="cards">
      <p *ngIf="array.length == 0 ">You don't have notifications</p>
      <div class="card" *ngFor="let data of array; let i = index">
          <div class="profile">
              <img src="{{data.image}}" alt="">
            </div>
            <div class="info-to-card">
                <h4>{{data.price | currency : '&#82;'}}</h4>
               <article class="sessions"> <p> {{data.days}} Days Sessions</p> <ion-button fill="clear" color="dark" size="small"><ion-icon name="ios-arrow-down"></ion-icon></ion-button></article>
                <article class="article">
                  <p> {{data.startingDate | date: 'dd/MM/yyyy'}}/p>
                  <p> {{data.endingDate | date: 'dd/MM/yyyy'}}</p>
                </article>
                <div class="accept-decline">
                    <ion-button size="small" fill="solid" color="success" class="btn" (click)="Accept(data, i)">Accept</ion-button>
                    <ion-button size="small" fill="solid" color="danger" class="btn" (click)="Decline(data, i)">Decline</ion-button>
                  </div>

              </div>

              
                <!-- <ion-fab-button class="call-btn" size="small" color="success">
                    <ion-icon name="ios-call"></ion-icon>
                </ion-fab-button> -->
         
      </div>
    </div>
  </main> 
</ion-content>
